.homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.homepage h1 {
    margin: 0 0 30px;
    color: #fff;
    text-align: center;
}

.homepage .user-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.homepage .user-box input {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.homepage .user-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 0.4rem
}

.homepage .user-box button:disabled {
    background: #616161;
}

.homepage .user-box button:hover:enabled {
    background: #64B5F6;
    border-radius: 5px;
}