.members {
    width: 800px;
    margin: auto;
    padding: 2rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #94ebb7;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 2rem;
}

/*Using normal Table*/
.members .memberTable {
    width: inherit;
}

.members .mark-button {
    margin-top: 1rem;
    margin-bottom: 0;
}

.members .mark-button button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 0.4rem;
    border-radius: 5px;
}

.members .mark-button button:hover:enabled {
    cursor: pointer;
    background: #64B5F6;
}

.members .mark-button button:disabled {
    background: #616161;
}

/*Using Data Table*/
.members .rdt_TableHeader {
    background-color: #80af89;
    letter-spacing: 4px;
    flex-direction: column;
    font-size: 3rem;
}

.members .rdt_Table .rdt_TableHead .rdt_TableHeadRow {
    background-color: #f3f3f3;
}

.members .rdt_Table .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
    border: 1px solid rgb(0 0 0 / 10%);
}

.members .rdt_Table .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable {
    font-size: 1.5rem;
}

.members .rdt_Table .rdt_TableBody .rdt_TableRow {
    background-color: #e0e0e0;
    font-size: large;
}

.members .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell {
    font-size: 1.2rem;
}